.blah-blah-form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

.blah-blah-form div + div {
    margin-top: 1em;
}

.blah-blah-form label {
    display: inline-block;
    width: 90px;
}

.blah-blah-form input,
.blah-blah-form textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

.blah-blah-form input:focus,
.blah-blah-form textarea:focus {
    border-color: #000;
}

.blah-blah-form textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

table {
    margin: 25px;
}

table,

th,

td {
    padding: 5px;
    border: 2px solid black;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 4px;
}

.blah-blah-grid {
    margin: 20px;
}

.row-img {
    margin: 4px;
}